.offer-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 100px 20px;
    gap: 15px;
    position: relative;
}

.offer-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(245.73deg, #FF4744 -23.95%, #FFFFFF 44.52%);
    overflow: hidden;
}

.offer-info-image {
    flex: 1;
    max-width: 35%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.offer-details {
    flex: 1;
    text-align: left;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.offer-details h2 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
}

.offer-details-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.offer-details-info-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F7F7F7;
    padding-bottom: 6px;
    align-items: center;
}

.offer-details-info-row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.offer-details-info-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;    
    color: #737373;    
}

.offer-details-info-value {
    font-size: 14px;
    line-height: 16.94px;
    text-align: right;
    font-weight: 400;
}

.offer-conditions {
    display: flex;
    gap: 21px;
    border-radius: 30px;
    padding: 30px 25px;
    background: #FFFFFF;
    flex-direction: column;
}

.offer-conditions h3 {
    font-size: 24px;
    line-height: 29.04px;
    font-weight: 600;
}

.offer-conditions ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.offer-conditions li {
   display: flex;
   gap: 14px;
   align-items: flex-start;
   font-size: 16px;
   line-height: 20.8px;
   font-weight: 400;
}

.condition-icon {
    margin-right: 14px;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 280px;
}

.checkbox-container p {
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;
}

.checkbox-container a {
    color: #4187FF;
    text-decoration: underline;
}

input[type="checkbox"] {
    display: none;
}

.confirm-button {
    gap: 10px;
    border-radius: 15px;
    border: 1.5px solid #4187FF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.15px;
    color: #4187FF;
    padding: 20px;
    width: 100%;
    max-width: 280px;
}
