.settings-page {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.settings-inner-block {
    width: 100%;
    padding: 0 25px 100px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-title-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
}

.settings-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.settings-tab-container {
    display: flex;
    background: #E9E9E9;
    border-radius: 65px;
    position: relative;
    width: 70%;
    padding: 2px;
}

.settings-tab-switcher {
    position: absolute;
    top: 2px;
    left: 0;
    height: calc(100% - 4px);
    background: white;
    border-radius: 65px;
    transition: transform 0.3s ease, width 0.3s ease;
}

.settings-tab-button {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
}

.settings-tab-button.active {
    font-size: 14px;
    line-height: 16.94px;
    color: #313132;
    font-weight: 500;
}

.settings-tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
}
