.statistics-chart {
    margin-bottom: 20px;  
    border-radius: 30px;
    background: #FFFFFF;
    padding: 15px;   
}

.statistics-info {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}

.statistics-info-block {
    display: flex;
    gap: 4px;
    align-items: center;
}

.statistics-info-image {
    height: 40px;
    border-radius: 8px;
    background: #F7F7F7;
    border: 1px solid #EAEAEA;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics-info-text-block p {
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 400;
}

.statistics-info-number-block {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: wrap;
}

.statistics-info-number-block p {
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 500;
}

.statistics-info-number-block label.positive {
    border-radius: 57px;
    padding: 2px 6px;
    gap: 5px;
    background: #EAFFF2;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    color: #31C770;    
}

.statistics-info-number-block label.negative {
    padding: 2px 6px;
    gap: 5px;
    background: #FFECEC;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
    color: #FF5F58;
    border-radius: 57px;
}

.custom-tooltip {
    border-radius: 10px;
    background: #F7F7F7;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 5px 0;
}

.tooltip-date {
    font-weight: 500;
    font-size: 10px;
    line-height: 12.1px; 
    color: #252728;
    margin-bottom: 2px; 
}

.tooltip-earnings, .tooltip-sales {
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    display: flex;
    justify-content: space-between;
    color: #252728;
    gap: 20px;
}

.tooltip-earnings span,
.tooltip-sales span {
    font-size: 10px;
    line-height: 12.1px;
    color: #31C770;
    font-weight: 600;
}

.chart-select-container {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.chart-select {
    position: relative;
    border-radius: 43px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding: 6px 12px;
    background: #F7F7F7;
    border: 1px solid #EAEAEA;
    cursor: pointer;
    min-width: 80px;
    user-select: none;
}

.chart-select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.chart-select img {
    width: 8px;
    height: 8px;
    transition: transform 0.3s;
}

.chart-select.open img {
    transform: rotate(180deg);
}

.chart-select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    z-index: 10;
}

.chart-select-options li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #252728;
    text-align: left;
}

.chart-select-options li:hover {
    background: #F0F0F0;
}
